html {
  margin: 0;
  padding: 0;
}

body {
	margin: 0;
	font-size: 48px;
	background-color: #2eb135;
  line-height: 1.1;
	padding: 40px;
	color: white;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, img {
  margin-bottom: 40px;
  width: 100%;
}

img {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: linear;
  animation-name: wiggle;
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
