html {
  margin: 0;
  padding: 0;
}

body {
	margin: 0;
	font-size: 32px;
	background-color: #2eb135;
  line-height: 1.1;
	padding: 40px;
	color: white;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
}

img {
  margin: 0 auto 40px;
}

p {
  margin-bottom: 40px;
}
