$screen-sm-min: 768px;
$spacing: 10px;

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
}

.inner-container {
	max-width: 970px;
	margin: 0 auto;
}

.jumbotron.stripe {
	border-radius: 0;
}

.home-buttons {
	.btn {
		display: block;
		margin-bottom: $spacing;
		margin-right: 0;
	}
}

.margin-bottom {
	margin-bottom: $spacing * 2;
}

@media (min-width: $screen-sm-min) {
	.home-buttons {
		.btn {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $spacing;
		}
	}
}